<!DOCTYPE html>

<html>
<body>

<h1>Welcome on the Recipe-App-API home page.</h1>
<p>The project is a backend REST API built with TDD (Test Driven Development) process approach.</p>
<p><b>Developer: Jakub Skulski</b></p>
<p><a href="https://github.com/jakeinrock" target="_blank">GitHub</a></p>
<p><a href="https://linkedin.com/in/jakub-skulski-249b41203" target="_blank">LinkedIn</a></p>
<p></p>
<p>To get more details navigate to <a href="http://127.0.0.1:8000/api/docs/" target="_blank">/api/docs/</a>.</p>
<p>To download API schema click on <a href="http://127.0.0.1:8000/api/schema/" target="_blank">/api/schema/</a>.</p>
<p><b><i>Recipe API is allowed only for authenticated users. Follow this steps to create an account in order to authenticate and use Recipe API:</i></b></p>

<p><a href="http://127.0.0.1:8000/api/user/create/" target="_blank">1. Create user</a>. It's recommended to use mock credentials e.g. jack@example.com</p>
<p><a href="http://127.0.0.1:8000/api/user/token/" target="_blank">2. Create token</a> and copy value from quotation marks. </p>
<p><a href="http://127.0.0.1:8000/api/docs/" target="_blank">4. Click on and perform following steps:</a>.</p>
<p>- Navigate to the top of the website and click on "Authorize" icon.
<p>- Choose tokenAuth (apiKey) from available authorizations and paste your copied value like this:
<p>"Token >your_token<" and click on "Authorize".</p>
<p><b>Remember that the white space between "Token" and >your_token< is necessary for successful authorization.</b></p>
<p>If everything was done properly you should see "Authorized" below "tokenAuth (apiKey)".</p>
<p><b>Now you are allowed to create your own recipes! Go to <a href="http://127.0.0.1:8000/api/docs/" target="_blank">/api/docs/</a> and try any endpoint you want :-)</b></p>
</body>
</html>